# node_modules
# .env
# .git
# *.log
# Dockerfile
# docker-compose.yml

# Ignorar los archivos y carpetas del editor
.vscode/
.idea/
*.iml

# Ignorar dependencias locales
node_modules/

# Ignorar archivos de configuración
.env

# Ignorar archivos de log
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar carpetas de base de datos
*.sql
*.db
