# Dependencias
node_modules/

# Archivos sensibles
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TDD Test DEV
tddDevTest/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

#GCP
gcp-credentials.json


